<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hammock" version="1.3.0" targetFramework="net40-Client" />
  <package id="HttpClient" version="0.5.0" targetFramework="net40-Client" />
  <package id="HttpHelper" version="0.9.0" targetFramework="net40-Client" />
  <package id="JsonValue" version="0.5.0" targetFramework="net40-Client" />
  <package id="log4net" version="1.2.10" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="4.5.6" targetFramework="net40-Client" />
  <package id="RESTAgent" version="1.0.17" targetFramework="net40-Client" />
  <package id="RestSharp" version="104.1" targetFramework="net40-Client" />
  <package id="ServiceStack.Common" version="3.9.25" targetFramework="net40-Client" />
  <package id="ServiceStack.Text" version="3.9.27" targetFramework="net40-Client" />
  <package id="Spring.Rest" version="1.1.0" targetFramework="net40-Client" />
</packages>